.img-resize {
    width: 10em;
}
  
.style {
    font-size: 20px;
}
  
.jumbo-style {
    background-image: linear-gradient(-225deg, #2cd8d5 0%, #6b8dd6 48%, #8e37d7 100%);
}

.tilt-style {
    margin: 15px;
}

.project-background {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(175,199,197,1) 0%, rgba(159,135,214,1) 100%); 
}